[user]
	name = Sergi Romeu
	email = sromeu@theknotww.com
[core]
	editor = code --wait
[fetch]
	prune = true
[pull]
	rebase = false
[credential]
	helper = cache
[push]
	autoSetupRemote = true
	autoSetupRemote = true
[init]
	defaultBranch = main
