[user]
	name = Sergi Romeu
	email = sromeu@theknotww.com
[core]
	editor = code --wait
[fetch]
	prune = true
[pull]
	rebase = false
[credential]
	helper = cache
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[alias]
  nah = "!f(){ git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; }; f"
