root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.sh]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 2

[Brewfile]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[.gitconfig]
indent_style = tab
